# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TopJava\voting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

config.properties
.classpath
.project
.settings/
.idea/
target/
*.iml
